<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902480874824-ogg4v01nbbrjcksii3lu47nnpgbgf0n7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902480874824-ogg4v01nbbrjcksii3lu47nnpgbgf0n7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>902480874824-h0re27jtgqqaf3rv0utqqjdkmj80k8mm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrF_1tmbaaJRPkVibCW6ZQHz7d5Gm_Bt4</string>
	<key>GCM_SENDER_ID</key>
	<string>902480874824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.azimiomembership</string>
	<key>PROJECT_ID</key>
	<string>azimio-7f30a</string>
	<key>STORAGE_BUCKET</key>
	<string>azimio-7f30a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902480874824:ios:48f9a91db4e41ef654777d</string>
</dict>
</plist>